.message {
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
}

.message__info {
  margin-left: 20px;
}
.message__info > h4 {
  font-size: 16px;
}
.message_timeStamp {
  color: gray;
  margin-left: 20px;
  font-size: x-small;
}
